# usage: pip install -r requirements.txt
jupyterlab
scipy
pandas
matplotlib
tqdm
joblib # only for the parallel procesing benchmark
dask # only for the parallel procesing benchmark
distributed # only for the parallel procesing benchmark
numba
scikit-learn
